doctype html
html(lang='en')
  include common/head.pug
  +head("Landing")
  body
    header
      include common/navbar.pug
      +navbar(user)
      .container
        .row.align-items-center
          .col-md-5.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Minimum Viable Landing Page
            p.lead This tutorial teaches you how to build a NodeJS web application covering key topics.
            p.lead.mb-4 Learn how to launch a landing page and start collecting sales leads.
            p Welcome to #{title}
            form(action="/", method="POST")
              input(name="lead_email", type="email", placeholder="Enter your email address")
              button(type="submit") Submit
            form(action='/uploadmultiplepics' enctype='multipart/form-data' method='POST')
              .row
                br
                .col-8
                input#formFile.form-control(type='file' name='images' multiple='')
                .col-2
                input.btn.btn-warning(type='submit' value='Upload Images')
            br
            h5 show img on change using jquery
            script(src="/javascripts/showimg.js")
            div.preview-images
            br
            h5 show img from db
            if(images)
              for image in images
                a(href="/deletedbimg/"+image._id)
                    img(src="data:image/"+image.contentType+";base64,\ "+image.imageBase64, style="height:5rem")


            
            //-link(rel="stylesheet" href="/stylesheets/imgstyle.css")
            
    include common/footer.pug
    +footer()


